@font-face {
  font-family: '黑體 B'; /* 自訂字體名稱 */
  src: url('GenSekiGothic-B.ttc') format('truetype'); /* 字體文件的路徑 */
}
@font-face {
  font-family: '黑體 H'; /* 自訂字體名稱 */
  src: url('GenSekiGothic-H.ttc') format('truetype'); /* 字體文件的路徑 */
}
@font-face {
  font-family: '黑體 M'; /* 自訂字體名稱 */
  src: url('GenSekiGothic-M.ttc') format('truetype'); /* 字體文件的路徑 */
}
@font-face {
  font-family: 'Zen Kaku Gothic New Black'; /* 自訂字體名稱 */
  src: url('ZenKakuGothicNew-Black.ttf') format('truetype'); /* 字體文件的路徑 */
}
@font-face {
  font-family: 'Zen Kaku Gothic New Bold'; /* 自訂字體名稱 */
  src: url('ZenKakuGothicNew-Bold.ttf') format('truetype'); /* 字體文件的路徑 */
}
@font-face {
  font-family: 'Zen Kaku Gothic New Medium'; /* 自訂字體名稱 */
  src: url('ZenKakuGothicNew-Medium.ttf') format('truetype'); /* 字體文件的路徑 */
}

*{
    padding:0;
    margin:0;
}


header{
    background-color: #737373;
    height:70px;
    width:100%;
}
h1{
    color:white;
    font-size:45px;
    font-family: 'Zen Kaku Gothic New Bold','黑體 H', sans-serif;
    font-weight: bolder;
    text-align: center;
}

main{
    background-color: white;  
    height:95vh;
    background-image: url(https://i.postimg.cc/C5G761wD/mainvisual2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}



h2{
    color:#404040;
    font-size:35px;
    font-family: "Zen Kaku Gothic New Bold",'黑體 H', sans-serif;
}

input{
    background-color: transparent;
    color:#404040;
    border:1.5px solid #404040;
    padding:10px;
    margin:15px;
    border-radius: 5px;
}

input:focus{
  outline:none;
}

button{
    background-color: #737373;
    color:white;
    font-size:15px;
    font-family: 'Zen Kaku Gothic New Bold', '黑體 H',sans-serif;
    border:1px solid #404040;
    padding:3px;
    margin:5px;
    border-radius:5px;
    width:60px;
    cursor:pointer;
}

input::placeholder{
    color:#414141;
    font-size:15px;
    font-family: 'Zen Kaku Gothic New Medium','黑體 M', sans-serif;
   
}

/* 響應式設計語法 */
@media screen and (max-width:768px) {
}

h2{
  font-family: 'Zen Kaku Gothic New Medium','黑體 M', sans-serif;
  font-size: 30px;
}

input{
   margin:10px;
}

input::placeholder{
  font-size:15px;
}